body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #1e1e1e, #121212);
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 180px; 
}

.subtitulo {
    text-align: center;
    font-size: 24px;
    color: #90caf9;
    margin-bottom: 20px;
}

form {
    max-width: 35vw;
    margin: 0 auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px #000;
}

label {
    font-weight: bold;
    color: #bbdefb;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #90caf9;
    border-radius: 4px;
    font-size: 16px;
    background-color: #2e2e2e;
    color: #ffffff;
    box-sizing: border-box;
}

input::placeholder, textarea::placeholder {
    color: #b0b0b0;
}

button {
    width: 48%;
    padding: 15px;
    background-color: #002491;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #1565c0;
}

#resetButton {
    background-color: #7a0e0e;
}

#resetButton:hover {
    background-color: #b71c1c;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

p {
    white-space: pre-line;
    margin-top: 20px;
    font-weight: bold;
}

#resultado {
    display: none;
    background-color: #333;
    border: 1px solid #90caf9;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    font-family: monospace;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}


.checkbox-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
}

.checkbox-group input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #90caf9;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    background-color: #2e2e2e;
    margin-right: 5px;
}

.custom-checkbox::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #90caf9;
    display: none;
}

.checkbox-group input[type="checkbox"]:checked + .custom-checkbox::after {
    display: block;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }
    button {
        width: 100%;
        margin: 10px 0;
    }
    .button-group {
        flex-direction: column;
    }
}
