@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif;
    background: linear-gradient(to bottom, #1e1e1e, #121212);
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 300px; 
}

.form-row {
    display: grid;
    grid-gap: 20px;
}

.form-row-6 {
    grid-template-columns: repeat(6, 1fr);
}

.form-row-4 {
    grid-template-columns: repeat(4, 1fr);
}
.form-row-3 {
    grid-template-columns: repeat(3, 1fr);
}

.form-row-2 {
    grid-template-columns: repeat(2, 1fr);
}

.form-row-1 {
    grid-template-columns: 1fr;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    color: #bbdefb;
    margin-bottom: 8px;
}


.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #90caf9;
    border-radius: 4px;
    font-size: 16px;
    background-color: #2e2e2e;
    color: #ffffff;
    box-sizing: border-box;
    margin-bottom: 15px;
}

form {
    max-width: 45vw;
    margin: 0 auto;
    background-color: #1e1e1e00;
    padding: 20px;
    border-radius: 8px;
}

input::placeholder, textarea::placeholder {
    color: #b0b0b0;
}

button {
    width: 48%;
    padding: 15px;
    background-color: #002491;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #1565c0;
}

#resetButton {
    background-color: #7a0e0e;
}

#resetButton:hover {
    background-color: #b71c1c;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

p {
    white-space: pre-line;
    margin-top: 20px;
    font-weight: bold;
}

#resultado {
    display: none;
    background-color: #333;
    border: 1px solid #90caf9;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    font-family: monospace;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
}

.checkbox-group input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #90caf9;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    background-color: #2e2e2e;
    margin-right: 5px;
}

.custom-checkbox::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #90caf9;
    display: none;
}

.checkbox-group input[type="checkbox"]:checked + .custom-checkbox::after {
    display: block;
}

.theme-switch {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-bottom: 20px;
    margin-right: 30px;
}

#themeLabel {
    margin-left: 10px;
    font-size: 16px;
    color: #e0e0e0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1565c0;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.light-mode {
    background: rgba(252, 252, 252, 0);
    background: -moz-radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(217,217,217,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(217,217,217,1) 100%);
    background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(217,217,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc",endColorstr="#d9d9d9",GradientType=1);
    color: #000;
}

.light-mode form {
    background-color: #ffffff00;
}

.light-mode .form-group label {
    color: #002491;
}

.light-mode .form-group input,
.light-mode .form-group select,
.light-mode .form-group textarea {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #002491;
}

.light-mode #resultado {
    background-color: #f9f9f9;
    border-color: #002491;
    color: #000;
}

.light-mode button {
    background-color: #002491;
}

.light-mode button:hover {
    background-color: #0037b0;
}

.light-mode h1 {
    color: #14006a; 
}

body.light-mode #themeLabel {
    color: #222222; 
}

.placeholder {
    font-size: .8em;
    font-weight: lighter;
    color: #b1b1b1;
}

@media (max-width: 768px) {
    form {
        max-width: 90vw;
    }
    
    .form-row-4,
    .form-row-2 {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    
    button {
        width: 100%;
        margin: 10px 0;
    }
    
    .button-group {
        flex-direction: column;
    }
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #222; 
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.1);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.light-mode .radio-inputs {
    background-color: #EEE;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: #ddd; 
    transition: all .15s ease-in-out;
}

.light-mode .radio-inputs .radio .name {
    color: rgba(51, 65, 85, 1);
}

.radio-inputs .radio input:checked + .name {
    background-color: #444;
    color: #fff;
    font-weight: 600;
}

.light-mode .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    color: rgba(51, 65, 85, 1);
    font-weight: 600;
}

.last-input {
    margin-top: 15px;
  } 

.last-radio {
    margin-bottom: 0 !important;
}