body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #1e1e1e, #121212);
    color: #e0e0e0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 180px; 
}

.subtitulo {
    text-align: center;
    font-size: 24px;
    color: #90caf9;
    margin-bottom: 20px;
}

form {
    max-width: 35vw;
    margin: 0 auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px #000;
}

label {
    font-weight: bold;
    color: #bbdefb;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #90caf9;
    border-radius: 4px;
    font-size: 16px;
    background-color: #2e2e2e;
    color: #ffffff;
    box-sizing: border-box;
}

input::placeholder, textarea::placeholder {
    color: #b0b0b0;
}

button {
    width: 48%;
    padding: 15px;
    background-color: #002491;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #1565c0;
}

#resetButton {
    background-color: #7a0e0e;
}

#resetButton:hover {
    background-color: #b71c1c;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

p {
    white-space: pre-line;
    margin-top: 20px;
    font-weight: bold;
}

#resultado {
    display: none;
    background-color: #333;
    border: 1px solid #90caf9;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    font-family: monospace;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}


.checkbox-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
}

.checkbox-group input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    border: 1px solid #90caf9;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    background-color: #2e2e2e;
    margin-right: 5px;
}

.custom-checkbox::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #90caf9;
    display: none;
}

.checkbox-group input[type="checkbox"]:checked + .custom-checkbox::after {
    display: block;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }
    button {
        width: 100%;
        margin: 10px 0;
    }
    .button-group {
        flex-direction: column;
    }
}

.theme-switch {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-bottom: 20px;
    margin-right: 30px;
}

#themeLabel {
    margin-left: 10px;
    font-size: 16px;
    color: #e0e0e0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #1565c0;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.light-mode {
    background: rgb(252,252,252);
    background: -moz-radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(217,217,217,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(217,217,217,1) 100%);
    background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(217,217,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcfcfc",endColorstr="#d9d9d9",GradientType=1);
    color: #000;
}

.light-mode form {
    background-color: #ffffff;
    box-shadow: 1px 2px 5px #aaa;
}

.light-mode label {
    color: #002491;
}

.light-mode input, .light-mode textarea, .light-mode select {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #002491;
}

.light-mode #resultado {
    background-color: #f9f9f9;
    border-color: #002491;
    color: #000;
}

.light-mode button {
    background-color: #002491;
}

.light-mode button:hover {
    background-color: #0037b0;
}

.light-mode h1 {
    color: #002491; 
}

#themeLabel {
    color: #ffffff; 
}

body.light-mode #themeLabel {
    color: #222222; 
}